<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"</>
    <title>Willkommen bei MeineBank</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <ing src="bank-3-32.png"
        <h1>MeineBank</h1>
        <nav>
            <ul>
                <li><a href="Index.html"><i class="fa-solid fa-house-user"></i></li>
                <li><a href="#">Über uns</a></li> <i class="fa-solid fa-person"></i>
                <li><a href="#">Dienstleistungen</a></li> <i class="fa-regular fa-newspaper"></i>
                <li><a href="#">Kontakt</a></li> <i class="fa-solid fa-envelope"></i>
            </ul>
        </nav>
    </header>
    <body>
        <h1>Hilfe & Support</h1>
      
        <h2>Kontaktinformationen</h2>
        <p>Für Unterstützung bei Fragen oder Problemen können Sie uns wie folgt kontaktieren:</p>
        
        <ul>
          <li><strong>Telefonnummer:</strong> +49 123 456789</li>
          <li><strong>E-Mail:</strong> support@meinebankapp.de</li>
        </ul>
      
        <h2>Häufig gestellte Fragen (FAQ)</h2>
        <p>Hier sind Antworten auf einige häufig gestellte Fragen:</p>
        
        <h3>1. Wie eröffne ich ein Konto?</h3>
        <p>Sie können ein Konto direkt über unsere App eröffnen. Gehen Sie einfach zum Menüpunkt "Konto eröffnen" und folgen Sie den Anweisungen.</p>
        
        <h3>2. Wie ändere ich mein Passwort?</h3>
        <p>Um Ihr Passwort zu ändern, melden Sie sich bitte in der App an und gehen Sie zu den Kontoeinstellungen. Dort finden Sie die Option, Ihr Passwort zu ändern.</p>
        
        <h3>3. Was mache ich im Falle eines verlorenen oder gestohlenen Smartphones?</h3>
        <p>Bitte kontaktieren Sie umgehend unseren Kundensupport, damit wir Ihr Konto sperren und weitere Schritte einleiten können, um Ihr Konto zu schützen.</p>
        
        <h3>4. Kann ich meine Überweisungen stornieren?</h3>
        <p>Ja, solange die Überweisung noch nicht abgeschlossen ist, können Sie sie in der App stornieren. Gehen Sie dazu zu Ihrem Transaktionsverlauf und wählen Sie die entsprechende Überweisung aus.</p>
        
        <h3>5. Ist meine App sicher?</h3>
        <p>Ja, wir verwenden die neuesten Sicherheitstechnologien, um die Sicherheit Ihrer Daten zu gewährleisten. Darüber hinaus empfehlen wir Ihnen, Ihre App immer auf dem neuesten Stand zu halten und Ihr Passwort regelmäßig zu ändern.</p>
        
        <h2>Weitere Unterstützung</h2>
        <p>Wenn Sie weitere Fragen haben oder individuelle Unterstützung benötigen, zögern Sie bitte nicht, uns zu kontaktieren. Unser Kundensupport-Team steht Ihnen gerne zur Verfügung.</p>
      </body>
      <footer>
        <p>&copy; 2024 MeineBank. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>